* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
}
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;600;900&display=swap');
body {
  background-color: #000000;
}
.header {
  position: absolute;
  width: 92vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 75px;
  margin: 10px 30px;
}
.header img {
  width: 150px;
}
.header div{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
}
.header .btn-1 {
  border: 1px solid white;
  background-color: transparent;
  padding: 9px 20px;
  font-size: 0.9rem;
  color: white;
  border-radius: 5px;
}
.header .btn-2 {
  background-color: #e50914;
  padding: 9px 20px;
  font-size: 0.9rem;
  color: white;
  border-radius: 5px;
}
.section01 {
  background-image: url("/assets/background.png");
  border-bottom: 8px solid #222222;
  background-repeat: no-repeat;
  color: #fff;
  background-position: center;
  background-size: cover;
  position: relative;
  display:absolute;
  max-width: 100%;
  height: auto;
  z-index: -10;
}
.section01 div{
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding-top: 20vh;
}
.section01 h1 {
  font-family: 'Martel Sans', sans-serif;
  font-weight: 700;
  font-size: 3.125rem;
  text-align: center;
}
.section01 h2 {
  font-family: 'Martel Sans', sans-serif;
  font-weight: 400;
  font-size: 1.625rem;
  text-align: center;
}
.section01 h3 {
  font-family: 'Martel Sans', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
}
.subscribe {
  display: flex;
  padding-top: 0;
  padding-bottom: 20vh;
}
.subscribe .lbl {
  height: 70px;
  width: 500px;
  font-size: 1.1rem;
  padding: 10px;
}
.subscribe .btn {
  color: #ffff;
  font-family: 'Martel Sans', sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  height: 70px;
  width: 190px;
  background-color: #de0611;
}
